<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/stlyes.css" />
  </head>
  <body>
    <div class="container">
      <% if (locals.data) { %>
      <div class="my-card">
        <div class="search">
          <form action="/" method="post">
            <input type="text" name="city" placeholder="Search" />
            <button id="search" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
            </button>
          </form>
        </div>
        <div class="weather">
          <div id="weather"><img src="images/weather.png" alt="" /></div>
          <h2>Weather in <br /><%= data.name %></h2>
        </div>
        <div class="detail">
          <h1><%= celsius %>°C</h1>
          <p>Humidity: <%= data.main.humidity %></p>
          <p>description: <%= data.weather[0].description %> %></p>
          <p>Pressure: <%= data.main.pressure %> hPa</p>
          <p>Wind speed: <%= data.wind.speed %> km/h</p>
        </div>
      </div>
      <% } else { %>Loading...<%} %>
    </div>
  </body>
</html>
