<%- include('partials/header.ejs') %>

<div class="container my-5">
  <% if(Array.isArray(posts) && posts.length > 0) { %>
    <h1 class="text-center mb-4">All Blog Posts</h1>
    <div class="row">
      <% posts.forEach(function(post) { %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title"><a href="posts/<%= post.id %>"><%= post.title %></a></h5>
              <p class="card-text"><%= post.content %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <!-- Flexbox container to vertically and horizontally center text -->
    <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
      <h1 class="text-center">There are no posts yet. Try creating one!</h1>
    </div>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>
